.text{
  font-family: Gilroy-Medium;
  font-size: 16px;
}
ion-searchbar{
  padding-top: 12px;
}
.countryImg{
  margin-right: 10px;
  img{
    object-fit: cover;
  }
}
.iconDisplay{
  object-fit: cover;
  margin-right: 5px;
  vertical-align:middle
}
