<ion-app >
  <ion-split-pane contentId="main-content" >
    <ion-menu contentId="main-content" (ionWillOpen)="onMenuOpen()">
      <app-sidemenu-header [isLoaded]="isLoaded" [userProfile]="userProfile" [user]="user"></app-sidemenu-header>
      <ion-content class="side-bar-container">
        <ion-list lines="none">
          <ion-menu-toggle
            auto-hide="true"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
      <ion-footer class=" ion-no-border logoutBtn ">
        <ion-button (click)="onLogOutClick()" mode="ios" expand="block" class="font bold"  color="danger" >
          LOG OUT
        </ion-button>
      </ion-footer >
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

