<app-header></app-header>
<ion-content>
  <div class="titleContainer">
    <label class="font bold header-3 titleText">Achievements</label>
    <!-- <ion-button
      fill="clear"
      mode="ios"
      shape="round"
      size="small"
      color="medium"
      (click)="onShowFilter()"
    >
      <ion-icon name="filter-outline" slot="icon-only"> </ion-icon>
    </ion-button> -->
    <ion-button
      fill="clear"
      mode="ios"
      shape="round"
      size="small"
      color="medium"
      (click)="onRefresh()"
      [disabled]="isLoading"
    >
      <ion-icon name="refresh-outline" slot="icon-only"> </ion-icon>
    </ion-button>
  </div>

  <ion-segment
    value="a"
    mode="md"
    (ionChange)="onChangeSegment($event)"
    mode="md"
  >
    <ion-segment-button value="a">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="b">
      <ion-label>Ongoing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="c">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="d">
      <ion-label>Claimed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid class="ion-no-margin ion-margin-bottom">
    <ion-row *ngIf="currentSegment === 'a'">
      <ion-col size="12">
        <ion-list *ngIf="!isLoading; else loading">
          <ion-item
            *ngFor="let each of acList"
            button
            lines="none"
            class="Card font"
            (click)="onClickAc(each)"
            ><ion-label
              ><h3 class="font bold">{{ each.acName }}</h3>
              <p
                class="font Green"
                *ngIf="each.acStatus === true && each.acReceiveStatus === true"
              >
                Claimed
              </p>
              <p
                class="font Blue"
                *ngIf="each.acStatus === true && each.acReceiveStatus === false"
              >
                Completed (Please Claim Rewards)
              </p>
              <div
                class="progress font Warn"
                *ngIf="each.acStatus !== true && each.acReceiveStatus !== true"
              >
                <div
                  class="bar"
                  [ngStyle]="{ width: progressWidth[each.acId] }"
                >
                  Uncomplete
                </div>
              </div>
            </ion-label>

            <div class="point">
              <img src="../../../assets/icon/coin.png" width="30" height="30" />
              <ion-label>{{ each.acPoints }}</ion-label>
            </div>
          </ion-item></ion-list
        ></ion-col
      >
    </ion-row>

    <ion-row *ngIf="currentSegment === 'b'">
      <ion-col size="12">
        <ion-list *ngIf="!isLoading; else loading">
          <div *ngFor="let each of acList">
            <ion-item
              *ngIf="each.acStatus !== true && each.acReceiveStatus !== true"
              button
              lines="none"
              class="Card font"
              (click)="onClickAc(each)"
              ><ion-label
                ><h3 class="font bold">{{ each.acName }}</h3>

                <div class="progress font Warn">
                  <div
                    class="bar"
                    [ngStyle]="{ width: progressWidth[each.acId] }"
                  >
                    Uncomplete
                  </div>
                </div>
              </ion-label>

              <div class="point">
                <img
                  src="../../../assets/icon/coin.png"
                  width="30"
                  height="30"
                />
                <ion-label>{{ each.acPoints }}</ion-label>
              </div>
            </ion-item>
          </div></ion-list
        ></ion-col
      >
    </ion-row>
    <ion-row *ngIf="currentSegment === 'c'">
      <ion-col size="12">
        <ion-list *ngIf="!isLoading; else loading">
          <div *ngFor="let each of acList">
            <ion-item
              *ngIf="each.acStatus === true && each.acReceiveStatus !== true"
              button
              lines="none"
              class="Card font"
              (click)="onClickAc(each)"
              ><ion-label
                ><h3 class="font bold">{{ each.acName }}</h3>

                <p
                  class="font Blue"
                  *ngIf="
                    each.acStatus === true && each.acReceiveStatus !== true
                  "
                >
                  Completed (Please Claim Rewards)
                </p>
              </ion-label>

              <div class="point">
                <img
                  src="../../../assets/icon/coin.png"
                  width="30"
                  height="30"
                />
                <ion-label>{{ each.acPoints }}</ion-label>
              </div>
            </ion-item>
          </div></ion-list
        ></ion-col
      >
    </ion-row>
    <ion-row *ngIf="currentSegment === 'd'">
      <ion-col size="12">
        <ion-list *ngIf="!isLoading; else loading">
          <div *ngFor="let each of acList">
            <ion-item
              *ngIf="each.acStatus === true && each.acReceiveStatus === true"
              button
              lines="none"
              class="Card font"
              ><ion-label
                ><h3 class="font bold">{{ each.acName }}</h3>
                <p
                  class="font Green"
                  *ngIf="
                    each.acStatus === true && each.acReceiveStatus === true
                  "
                >
                  Claimed
                </p>
              </ion-label>

              <div class="point">
                <img
                  src="../../../assets/icon/coin.png"
                  width="30"
                  height="30"
                />
                <ion-label>{{ each.acPoints }}</ion-label>
              </div>
            </ion-item>
          </div></ion-list
        ></ion-col
      >
    </ion-row>
  </ion-grid>
  <ng-template #loading>
    <ion-list>
      <ion-item
        lines="none"
        class="Card font"
        *ngFor="let e of [].constructor(3); let i = index"
      >
        <ion-label
          ><h3 class="font bold">
            <ion-skeleton-text animated></ion-skeleton-text>
          </h3>
          <p class="font">
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
        </ion-label>

        <div class="point">
          <ion-skeleton-text animated class="imgSkeleton"></ion-skeleton-text>
          <ion-label
            ><ion-skeleton-text animated></ion-skeleton-text
          ></ion-label>
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
