<app-header [back]="true"></app-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-padding-top ion-justify-content-center">
      <ion-col class="ion-text-start" size="10">
        <ion-label class="titleText">CHANGE PASSWORD</ion-label>

      </ion-col>
    </ion-row>
    <form [formGroup]="passwordEditForm" novalidate (ngSubmit)="submitForm()" class="btnSend">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-item fill="outline" mode="md" class="font content-2">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-label position="floating">Old Password</ion-label>
          <ion-input
            type="password"
            placeholder="Old Password"
            #pwdInput
            class="font content-2"
            formControlName="oldpassword"
          ></ion-input>
          <ion-icon
            slot="end"
            class="show-option"
            [hidden]="showPassword"
            name="eye-off"
            (click)="onToggleShow()"
          ></ion-icon>
          <ion-icon
            slot="end"
            class="hide-option"
            [hidden]="!showPassword"
            name="eye"
            (click)="onToggleShow()"
          ></ion-icon>
        </ion-item>
        <span
          class="font content-3 error-message"
          *ngIf="isSubmitted && errorControl.oldpassword.errors?.required"
          >Old Password is required.</span
        >
        <span
          class="font content-3 error-message"
          *ngIf="
            isSubmitted &&
            (errorControl.oldpassword.errors?.pattern ||
              errorControl.oldpassword.errors?.minLength)
          "
          >Password should be >= 6 characters with at least 1 Uppercase, 1
          Lowercase, 1 Numeric, and 1 Special Characters</span
        >
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-item fill="outline" mode="md" class="font content-2">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-label position="floating">New Password</ion-label>
          <ion-input
            type="password"
            placeholder="New Password"
            #pwdInput3
            class="font content-2"
            formControlName="newpassword"
          ></ion-input>
          <ion-icon
            slot="end"
            class="show-option"
            [hidden]="showPassword"
            name="eye-off"
            (click)="onToggleShow3()"
          ></ion-icon>
          <ion-icon
            slot="end"
            class="hide-option"
            [hidden]="!showPassword"
            name="eye"
            (click)="onToggleShow3()"
          ></ion-icon>
        </ion-item>
        <span
          class="font content-3 error-message"
          *ngIf="isSubmitted && errorControl.newpassword.errors?.required"
          >New Password is required.</span
        >
        <span
          class="font content-3 error-message"
          *ngIf="
            isSubmitted &&
            (errorControl.newpassword.errors?.pattern ||
              errorControl.newpassword.errors?.minLength)
          "
          >Password should be >= 6 characters with at least 1 Uppercase, 1
          Lowercase, 1 Numeric, and 1 Special Characters</span
        >
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-item fill="outline" mode="md" class="font content-2">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input
            type="password"
            placeholder="Confirm Password"
            #pwdInput2
            class="font content-2"
            formControlName="repeatpassword"
          ></ion-input>
          <ion-icon
            slot="end"
            class="show-option"
            [hidden]="showPassword"
            name="eye-off"
            (click)="onToggleShow2()"
          ></ion-icon>
          <ion-icon
            slot="end"
            class="hide-option"
            [hidden]="!showPassword"
            name="eye"
            (click)="onToggleShow2()"
          ></ion-icon>
        </ion-item>
        <span
          class="font content-3 error-message"
          *ngIf="
            isSubmitted && errorControl.repeatpassword.errors?.required
          "
          >Confirm Password is required.</span
        >
        <span
          class="font content-3 error-message"
          *ngIf="
            isSubmitted && repeatpassword.invalid && !errorControl.repeatpassword.errors?.required
          "
          >Confirm password not match with password</span
        >
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-justify-content-center ion-align-items-center "
    >
      <ion-col size="10">
        <ion-button
          expand="block"
          class="content-1 font btnSend"
          mode="ios"
          type="submit"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-justify-content-center ion-align-items-center "
    >
      <ion-col size="10">
        <ion-button
          expand="block"
          class="content-1 font  "
          mode="ios"
          (click)="onCancelClick()"
          >Cancel</ion-button
        >
      </ion-col>
    </ion-row>
    </form>
  </ion-grid>
</ion-content>

