<ion-header collapse="fade" translucent="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img
          src="../../../assets/images/learning_illust_3.png"
          alt="login_illustration"
          height="130"
          class="illustration"
        />
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top ion-justify-content-center">
      <ion-col class="ion-text-start" size="10">
        <ion-label class="header">FORGOT PASSWORD</ion-label>
        <p class="content-2 subtitle">
          Please enter the email associated with your account and we will send
          an email to reset your password.
        </p>
      </ion-col>
    </ion-row>

    <ion-row
      class="ion-justify-content-center ion-align-items-center margin-top-1 margin-bottom-1"
    >
      <ion-col size="10">
        <ion-item fill="outline" mode="md" class="font content-2">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input
            type="email"
            placeholder="Email Address"
            clearInput="true"
            class="font content-2"
            name="emailInput"
            [(ngModel)]="email"
            #emailInput="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,3}$"
            required
          ></ion-input>
        </ion-item>
        <span
          class="font content-3 error-message"
          *ngIf="(emailInput.touched || emailInput.dirty) && emailInput.errors?.required"
          >Email Address is required.</span
        >
        <span
          class="font content-3 error-message"
          *ngIf="(emailInput.touched || emailInput.dirty) && emailInput.errors?.pattern"
          >Email Address is invalid.</span
        >
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-justify-content-center ion-align-items-center margin-bottom-1"
    >
      <ion-col size="10">
        <ion-button
          expand="block"
          class="content-1 font bold btnSend"
          mode="ios"
          (click)="submitForm()"
          >SEND</ion-button
        >
      </ion-col>
    </ion-row>
    <!-- </form> -->
  </ion-grid>
</ion-content>
